* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; /* Recomendo importar no index.html */
  background-color: #f4f7fe;
  color: #1a1a2e;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: none;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}